/* styles.css */

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #9c9ad05c;
  overflow-x: hidden;
}

.chat-page {
  /* width: 100vw;
  height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Ensure no overflow */
  /* padding-top: 60px; Adjust based on the height of .bot-title */
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); Add a subtle box shadow */
  background-color: #000000;
}

.bot-title {
  /* height: 80px; */
  height: 8vh;
  width: 100%;
  background-color: #706EA0;
  padding: 10px;
  position: fixed; /* Fix the position to the top */
  top: 0;
  left: 0;
  z-index: 1000; /* Ensure it stays above other content */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.bot-title-text {
  color: black;
  font-family: "Cantarell", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
}


/* Chat container */
.chat-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 1200px;
  margin: 0 auto;
  /* border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
  overflow: hidden; /* Prevent overflow */
  padding: 20px;
  box-sizing: border-box;
}

/* Chat box */
.chat-box {
  display: flex;
  flex-direction: column;
  padding: 10px 30px 20px 20px; /* Not sure about the direction of these */
  margin-top: 10px; 
  overflow-y: auto;
  /* max-height: 80vh;  for title sizing */ 
  max-height: 85vh;
  box-sizing: border-box; 
  display: flex;
  flex-direction: column;
}

.chat-box::before {
  content: '';
  display: block;
  height: 20px; /* Adjust this value to control the extra space */
  width: 100%;
  flex-shrink: 0; /* Ensure the space doesn't collapse */
}

/* Chat fields */
.chat-fields {
  padding: 30px;
  display: flex;
  /* overflow: hidden; 
  width: calc(100% - 40px); 
  box-sizing: border-box;  */
  width: 100%; /* Occupy full width of .chat-box */
  box-sizing: border-box;
  align-items: center; /* Center items vertically */
  background: #F1F1F1;
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 20px;
}

/* User input */
#user-input {
  padding: 10px;
  border: none;
  border-radius: 10px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%; 
  resize: none; 
  height: auto; 
  overflow-y: auto; 
  flex: 1; 

  font-family: "Cantarell", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  /* background: #FFFFFF; */
}

#send-btn, #continue-btn {
  font-family: "Exo", sans-serif;
  font-weight: 200;
  font-size: 22px;
  line-height: 33.23px;
  border: none;
  padding: 10px 30px;
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 20px;
}

/* Send button */
#send-btn {
  background-color: #D1D0E5;;
  color: #000000;
  cursor: pointer;
  margin-left: 10px;
  width: auto; 
  transition: background-color 0.3s ease; /* Add a transition for hover effect */
}

/* Hover effect for send button */
#send-btn:hover {
  background-color: #cac8e3;  ; /* Slightly darker shade on hover */
}

/* Submit button */
#continue-btn {
  background-color: #FFFAC180; /* Different background color */
  color: black;
  cursor: pointer;
  margin-left: 10px;
  width: auto; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a shadow for distinction */
  transition: background-color 0.3s ease; /* Add a transition for hover effect */
}

/* Hover effect for submit button */
#continue-btn:hover {
  background-color: #f9f2a1a8; /* Darker shade on hover */
}

.user-message, .chatbot-message, .system-prompt-message {
  padding: 10px 15px;
  margin: 5px;
  margin-top: 30px;
  border-radius: 15px;
  position: relative;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.user-message, .chatbot-message {
  max-width: 70%;
  word-wrap: break-word; 
  text-align: left; 
  font-family: "Cantarell", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  font-style: normal;
  /* border: 1px solid #000000; */
}

/* User message */
.user-message {
  align-self: flex-end; 
  background-color: #D1D0E5; 
  color: #000000;
}

/* Chatbot message */
.chatbot-message {
  align-self: flex-start; 
  background-color: #d1e7dd; /* Change this color to something contrasting */
  color: black; 
}

.system-prompt-message {
  background: #FFFAC180;
  color: #6B503F;

  font-family: Exo;
  font-size: 21px;
  font-weight: 200;
  line-height: 26px;
  text-align: center;
}

/* Add pseudo-elements for the speech bubble tails */
.user-message::after, .chatbot-message::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  /* border: 1px solid #000000; */
}

/* Tail for user message */
.user-message::after {
  right: -10px;
  bottom: 1px; /* Adjust this value to align the tail */
  border-left-color: #D1D0E5;
  border-right: 0;
  border-bottom: 0;
  border-top: 20px solid transparent;
}

/* Tail for chatbot message */
.chatbot-message::after {
  left: -10px;
  bottom: 1px; /* Adjust this value to align the tail */
  border-right-color: #d1e7dd;
  border-left: 0;
  border-bottom: 0;
}
/* Data display */
#jspsych-data-display {
  overflow-wrap: break-word;
  white-space: pre-wrap;
  width: 100%;
  overflow-x: auto;
}