/* styles.css */


/* .chat-page {
  background-color: #f7f7f7;
  width: 100vh;
  height: 100vh;
} */

/* Chat container */
.chat-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Chat box */
.chat-box {
  display: flex;
  flex-direction: column;
  padding: 10px 20px 20px 20px; 
  margin-top: 10px; 
  overflow-y: auto;
  max-height: 90vh; 
  box-sizing: border-box; 
}

/* Chat fields */
.chat-fields {
  padding: 10px;
  border-top: 1px solid #ddd;
  display: flex;
  max-height: 10vh;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

/* User input */
#user-input {
  padding: 10px;
  border: none;
  border-radius: 10px; 
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%; 
  font-family: inherit; 
  font-size: inherit; 
  resize: none; 
  height: auto; 
  overflow-y: auto; 
  flex: 1; 
}

/* Send button */
#send-btn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin-left: 10px;
  width: auto; 
  font-family: inherit;
  font-size: inherit;
}

/* User message */
.user-message {
  align-self: flex-end; 
  background-color: #4CAF50; 
  color: white;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  max-width: 70%;
  word-wrap: break-word; 
  text-align: left; 
}

/* Chatbot message */
.chatbot-message {
  align-self: flex-start; 
  background-color: #f7f7f7; 
  color: black; 
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  max-width: 70%; 
  word-wrap: break-word; 
  text-align: left; 
}

.prompt-message {
  border-radius: 10px;
  background-color: #faf39d; 
  padding: 10px;
  margin: 5px;
}