<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{name} Extension Example</title>
    <script src="https://unpkg.com/jspsych@8"></script>
    <!-- Example plugin an extension may work with -->
    <script src="https://unpkg.com/@jspsych/plugin-html-keyboard-response@2"></script>
    <script src="../dist/index.browser.js"></script>
    <link href="https://unpkg.com/jspsych@8/css/jspsych.css" rel="stylesheet" />
  </head>
  <body>
    <script>
      const jsPsych = initJsPsych({
        extensions: [{ type: {globalName} }],
      });

      const trial = {
        type: jsPsychHtmlKeyboardResponse,
        stimulus: "Hello world",
        extensions: [{ type: {globalName} },
        ],
      };

      jsPsych.run([trial]);
    </script>
  </body>
</html>
